[Unit]
Description=Codis-[demo-alpha]@19002
[Service]
ExecStart=/opt/codis/bin/codis-proxy --ncpu=4 --max-ncpu=8 \
    --config=/opt/codis/etc/127.0.0.1:19002/proxy.toml --log=/opt/codis/log/127.0.0.1:19002/proxy.log --log-level=INFO
Restart=always
[Install]
WantedBy=default.target

